* {
  font-family: Poppins;
}

.nav {
  padding: 20px;
  gap: 100px;
  height: 102px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.logo {
  width: 163px;
  height: 80px;
}
nav {
  display: flex;
  gap: 40px;
  width: 603px;
  height: 36px;

  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
main {
  width: 100%;
}

.contact-section {
  display: flex;
  margin-right: 50px;
  margin-top: 5px;
  height: 35px;
  width: 155px;
  text-align: left;
  background-color: #443434;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.contact {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.presentation {
  width: 100%;
}

.p1 {
  margin: 0px;
  display: flex;
  width: 100%s;
  height: 600px;
  text-align: center;
  margin-top: 30px;
}
.section-text {
  flex: 1;
  height: 100%;
}
.section-image {
  flex: 1;
  height: 100%;
}
.choco {
  height: 100%;
  width: 100%;
}
.text-sup {
  text-align: center;
  margin-top: 100px;
  width: 600px;
  height: 400px;
  text-indent: 30px;
  padding: 100px;
}
.side-text {
  font-size: 50px;
}

.large-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  background-color: #443434;
  color: aliceblue;
  margin: 30px;
}
.anchor {
  color: aliceblue;
  text-decoration: none;
}
.j {
  margin-left: 100px;
}
.left {
  margin-left: 150px;
}
.prix {
  height: 500px;
}

.w {
  height: 613px;
  width: 1101px;
  margin-left: 120px;
}
.pre {
  width: 100%;
  display: flex;
  background-color: #443434;
  color: aliceblue;
  justify-content: space-around;
  padding: 50px;

  height: 300px;
}
.mid {
}

.gum {
  height: 100px;
  padding: 50px;
}
.items {
  margin: 300px;
  border: 1px solid;
  height: 200px;
  width: 200px;
  border-radius: 50% 30px 40px 80px;
}
