:root {
  --primary-color: #ffffff;
  --secondary-color: #3e3232;
  --taichary-color: #443434;
  --text-color: #020202;
}

* {
  font-family: Poppins;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  padding: 20px;
  gap: 100px;
  height: 102px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.logo {
  width: 163px;
  height: 80px;
  cursor: pointer;
}
nav {
  display: flex;
  gap: 40px;
  width: 603px;
  height: 36px;

  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
nav .ar:hover {
  cursor: pointer;
}
.ar:hover {
  text-decoration: underline;
  text-underline-offset: 30px;
  transition: 2s ease;
}
.bt:hover {
  box-shadow: 10px 10px lightblue;
  cursor: pointer;
}

main {
  width: 100%;
}

.contact-section {
  display: flex;
  margin-right: 50px;
  margin-top: 5px;
  height: 35px;
  width: 155px;
  text-align: left;
  background-color: var(--secondary-color);
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.contact {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.presentation {
  width: 100%;
}
.lo-text {
  width: 504px;
  height: 125px;
}
.p1 {
  display: flex;
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 30px;
}
.section-text {
  flex: 1;
  height: 100%;
}
.section-image {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.choco {
  width: 100%;
}
.text-sup {
  text-align: justify;
  width: 600px;
  height: 400px;
  padding: 20px;
}
.side-text {
  text-shadow: 4px 4px rgb(230, 222, 222);
  font-size: 50px;
}

.large-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 452px;
  height: 85px;
  background-color: var(--secondary-color);
  color: aliceblue;
}
.anchor {
  color: aliceblue;
  text-decoration: none;
}

.prix {
  width: 400px;
  height: 413px;
}

.w {
}
.pre {
  display: flex;
  background-color: var(--taichary-color);
  color: aliceblue;
  justify-content: space-around;
  padding: 50px;
  height: 200px;
  width: 1280px;
}
.products {
  display: grid;
  margin-top: 60px;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  gap: 40px;
}

.items {
  position: relative;
}

.shp1 {
  position: relative;
  height: 200px;
}
.item {
  position: absolute;
  top: 50%;
  right: 10%;
  height: 100px;
  transform: translate(-50%, -50%) scale(1);
}
.form {
  margin-top: 70px;
  display: flex;
  align-items: center;
  padding: 35px;
  justify-content: center;
  background-color: #dfcece30;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-top: 20px;
  height: 50px;
  width: 400px;
}
.double-type {
  display: flex;
  gap: 10px;
}
.double-text {
  width: 190px;
}
.form-btn {
  margin-top: 20px;
  background-color: var(--taichary-color);
  height: 55px;
  width: 258px;
  padding: 3px;
}
.form-btn-image {
  height: 20px;
  width: 38px;
}

.form-btn-message {
  color: var(--primary-color);
  margin-bottom: 100px;
  font-size: 20px;
}

footer {
  margin-top: 200px;
  width: 100%;
  background-color: var(--secondary-color);
  height: 447px;
  align-content: center;
  padding-left: 38%;
}
.footer-img {
  width: 364px;
  height: 174.44px;
}
